.flag::before {
    content: "";
    display: inline-block;
    width: var(--fs-lg);
    height: var(--fs-lg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    border-radius: var(--radius-sm);
}

.flag.it::before {
    background-image: url('../../public/assets/flags/it.svg');
}

.flag.en::before {
    background-image: url('../../public/assets/flags/gb.svg');
}